
// Page css

body
    font-family Verdana, sans-serif
    
a
    text-decoration underline
    color #404040
    
.container
    max-width 800px
    margin 15px auto
    background #fff
    padding 50px
    border 3px solid #000
    box-shadow 6px 6px 0 #aaa
    
 h1
     font-size 28px
     font-weight bold
     margin-bottom 15px
            
.text--left
    text-align left
     
.text--right
    text-align right
     
.credits
    display block
    font-size 14px
    font-weight 400
    margin-bottom 10px

.description
    font-size 12px
    
strong
    font-weight 700
    
hr
    margin 10px 0
              
.inner__row
    margin-bottom 15px
    
.inner__title
.inner__desc
    display block
    margin-bottom 10px
    
.inner__title
    font-weight 700
    
.inner__desc
    font-size 14px
    
input
button
    border none
    min-height 30px
    font-weight 700
    text-transform uppercase
    font-family Verdana, sans-serif
    min-width 220px
    
    &:active
    &:focus
        outline none
        
button
    background-color transparent
    
// Override
.cbbl
    font-size 20px
    font-family 'Iceland', cursive
    input
        font-family 'Iceland', cursive
        
    
    